<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Letter Generation</key>
	<array>
		<dict>
			<key>description</key>
			<string>How many consonants in a row can fall?</string>
			<key>title</key>
			<string>Max Consecutive Consonants</string>
			<key>initialValue</key>
			<integer>3</integer>
			<key>max</key>
			<integer>7</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_GENERATION_MAX_CONSONANTS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>How many vowels in a row can fall?</string>
			<key>title</key>
			<string>Max Consecutive Vowels</string>
			<key>initialValue</key>
			<integer>3</integer>
			<key>max</key>
			<integer>7</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_GENERATION_MAX_VOWELS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>How many of the same letter can fall in a row?</string>
			<key>title</key>
			<string>Max Consecutive Letters</string>
			<key>initialValue</key>
			<integer>2</integer>
			<key>max</key>
			<integer>7</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_GENERATION_MAX_LETTERS</string>
		</dict>
	</array>
	<key>Mailman</key>
	<array>
		<dict>
			<key>description</key>
			<string>How much damage does each letter do to the mailman?</string>
			<key>title</key>
			<string>Damage Per Letter</string>
			<key>initialValue</key>
			<integer>20</integer>
			<key>max</key>
			<integer>50</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_MAILMAN_LETTER_DAMAGE</string>
		</dict>
		<dict>
			<key>description</key>
			<string>How many times more are love letters worth than regular letters?</string>
			<key>title</key>
			<string>Bonus Points Per Love Letter</string>
			<key>initialValue</key>
			<integer>2</integer>
			<key>max</key>
			<integer>3</integer>
			<key>min</key>
			<integer>1</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_MAILMAN_LOVE_BONUS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>What percent of all letters dropped are love letters?</string>
			<key>title</key>
			<string>Love Letter Percentage</string>
			<key>initialValue</key>
			<integer>10</integer>
			<key>max</key>
			<integer>50</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_MAILMAN_LOVE_PERCENT</string>
		</dict>
		<dict>
			<key>description</key>
			<string>How fast are letters flung towards the mailman?</string>
			<key>title</key>
			<string>Letter Fling Speed</string>
			<key>initialValue</key>
			<integer>300</integer>
			<key>max</key>
			<integer>600</integer>
			<key>min</key>
			<integer>1</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_MAILMAN_FLING_SPEED</string>
		</dict>
	</array>
	<key>Parallax</key>
	<array>
		<dict>
			<key>description</key>
			<string>How much does the base speed increase per level?</string>
			<key>title</key>
			<string>Parallax Speed Increase</string>
			<key>initialValue</key>
			<integer>30</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_PARALLAX_SPEED_INCREASE</string>
		</dict>
		<dict>
			<key>description</key>
			<string>What is the base speed of the layer movement?</string>
			<key>title</key>
			<string>Base Parallax Speed</string>
			<key>initialValue</key>
			<integer>200</integer>
			<key>max</key>
			<integer>400</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_PARALLAX_BASE_SPEED</string>
		</dict>
		<dict>
			<key>description</key>
			<string>What are the relative speeds of each parallax layer?</string>
			<key>title</key>
			<string>Parallax Layer Speeds</string>
			<key>initialValue</key>
			<array>
				<real>0.14</real>
				<real>0.36</real>
				<real>0.5600000000000001</real>
				<real>0.74</real>
			</array>
			<key>type</key>
			<string>object</string>
			<key>userDefaultTag</key>
			<string>DV_PARALLAX_SPEED_ARRAY</string>
		</dict>
	</array>
	<key>Score</key>
	<array>
		<dict>
			<key>description</key>
			<string>How many points does the player get per letter per word submitted?</string>
			<key>title</key>
			<string>Score Per Letter</string>
			<key>initialValue</key>
			<integer>10</integer>
			<key>max</key>
			<integer>20</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_SCORE_PER_LETTER</string>
		</dict>
		<dict>
			<key>description</key>
			<string>By what factor does the score of a word increase by length?</string>
			<key>title</key>
			<string>Word Length Score Factor</string>
			<key>initialValue</key>
			<real>0.5</real>
			<key>max</key>
			<integer>2</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>1</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_SCORE_WORD_LENGTH_FACTOR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>What is the initial score needed to progress to the next level?</string>
			<key>title</key>
			<string>Initial Next Level Score</string>
			<key>initialValue</key>
			<integer>150</integer>
			<key>max</key>
			<integer>300</integer>
			<key>min</key>
			<integer>1</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_SCORE_INITIAL_LEVEL_PROGRESSION</string>
		</dict>
		<dict>
			<key>description</key>
			<string>By how much does the score needed to get to the next level increase every time?</string>
			<key>title</key>
			<string>Level Progression Increase Factor</string>
			<key>initialValue</key>
			<integer>50</integer>
			<key>max</key>
			<integer>200</integer>
			<key>min</key>
			<integer>1</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_SCORE_LEVEL_PROGRESS_INCREASE_FACTOR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>At what rate does the score needed to progress to the next level increase?</string>
			<key>title</key>
			<string>Level Score Increase</string>
			<key>initialValue</key>
			<string>Linear</string>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_SCORE_LEVEL_PROGRESS_INCREASE_STYLE</string>
		</dict>
	</array>
	<key>Letter Drop</key>
	<array>
		<dict>
			<key>description</key>
			<string>How many letters are dropped at a time?</string>
			<key>title</key>
			<string>Envelopes Per Drop</string>
			<key>initialValue</key>
			<integer>1</integer>
			<key>max</key>
			<integer>4</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_DROP_NUM_LETTERS</string>
		</dict>
		<dict>
			<key>description</key>
			<string>What is the minimum drop rate a letter can fall at?</string>
			<key>title</key>
			<string>Minimum Drop Period</string>
			<key>initialValue</key>
			<real>0.1</real>
			<key>max</key>
			<integer>2</integer>
			<key>min</key>
			<real>0.1</real>
			<key>decimals</key>
			<integer>1</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_DROP_MINIMUM_PERIOD</string>
		</dict>
		<dict>
			<key>description</key>
			<string>At what rate does the letter drop period increase between levels?</string>
			<key>title</key>
			<string>Letter Drop Period Decrease Rate</string>
			<key>initialValue</key>
			<real>1.15</real>
			<key>max</key>
			<integer>4</integer>
			<key>min</key>
			<real>0.1</real>
			<key>decimals</key>
			<integer>1</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_DROP_PERIOD_DECREASE_FACTOR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>How many seconds between letter drops on the first level?</string>
			<key>title</key>
			<string>Letter Drop Period (Sec)</string>
			<key>initialValue</key>
			<real>1.5</real>
			<key>max</key>
			<integer>4</integer>
			<key>min</key>
			<real>0.1</real>
			<key>decimals</key>
			<integer>1</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_DROP_INITIAL_PERIOD</string>
		</dict>
		<dict>
			<key>description</key>
			<string>At what rate does the speed of letters dropping increase?</string>
			<key>title</key>
			<string>Letter Drop Period Decrease</string>
			<key>initialValue</key>
			<string>Exponential</string>
			<key>type</key>
			<string>int</string>
			<key>userDefaultTag</key>
			<string>DV_DROP_DECREASE_STYLE</string>
		</dict>
	</array>
	<key>Health Bar</key>
	<array>
		<dict>
			<key>description</key>
			<string>What percent does the health bar increase per hundred points in a word?</string>
			<key>title</key>
			<string>Health Percent Inrease Per Hundred Pts</string>
			<key>initialValue</key>
			<integer>15</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_HEALTHBAR_INCREASE_PER_WORD</string>
		</dict>
		<dict>
			<key>description</key>
			<string>What is the shortest amount of time it can take for the health bar to drop to zero?</string>
			<key>title</key>
			<string>Health Bar Minimum Drop Time (Seconds)</string>
			<key>initialValue</key>
			<integer>12</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>1</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_HEALTHBAR_MAX_SPEED</string>
		</dict>
		<dict>
			<key>description</key>
			<string>By how much does the health bar speed up every time?</string>
			<key>title</key>
			<string>Health Bar Drop Time Decrease Per Level</string>
			<key>initialValue</key>
			<integer>3</integer>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_HEALTHBAR_INCREASE_FACTOR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>How long does it take for the health bar to drop to zero initially?</string>
			<key>title</key>
			<string>Initial Health Bar Drop Time (Seconds)</string>
			<key>initialValue</key>
			<integer>60</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>1</integer>
			<key>decimals</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>userDefaultTag</key>
			<string>DV_HEALTHBAR_INITIAL_SPEED</string>
		</dict>
	</array>
</dict>
</plist>
