<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scrabble</key>
	<dict>
        <key>A</key>
        <integer>9</integer>
        <key>B</key>
        <integer>2</integer>
        <key>C</key>
        <integer>2</integer>
        <key>D</key>
        <integer>4</integer>
        <key>E</key>
        <integer>12</integer>
        <key>F</key>
        <integer>2</integer>
        <key>G</key>
        <integer>3</integer>
        <key>H</key>
        <integer>2</integer>
        <key>I</key>
        <integer>9</integer>
        <key>J</key>
        <integer>1</integer>
        <key>K</key>
        <integer>1</integer>
        <key>L</key>
        <integer>4</integer>
        <key>M</key>
        <integer>2</integer>
        <key>N</key>
        <integer>6</integer>
        <key>O</key>
        <integer>8</integer>
        <key>P</key>
        <integer>2</integer>
        <key>Q</key>
        <integer>1</integer>
        <key>R</key>
        <integer>6</integer>
        <key>S</key>
        <integer>4</integer>
        <key>T</key>
        <integer>6</integer>
        <key>U</key>
        <integer>4</integer>
        <key>V</key>
        <integer>2</integer>
        <key>W</key>
        <integer>2</integer>
        <key>X</key>
        <integer>1</integer>
        <key>Y</key>
        <integer>2</integer>
        <key>Z</key>
        <integer>1</integer>
	</dict>
	</dict>
</plist>
