<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Multiletters</key>
	<dict>
		<key>TH</key>
		<integer>10</integer>
		<key>HE</key>
		<integer>8</integer>
		<key>IN</key>
		<integer>7</integer>
		<key>ER</key>
		<integer>7</integer>
		<key>AN</key>
		<integer>7</integer>
		<key>RE</key>
		<integer>6</integer>
		<key>ND</key>
		<integer>6</integer>
		<key>AT</key>
		<integer>6</integer>
		<key>ON</key>
		<integer>6</integer>
		<key>HA</key>
		<integer>6</integer>
		<key>ES</key>
		<integer>6</integer>
		<key>ST</key>
		<integer>6</integer>
		<key>EN</key>
		<integer>6</integer>
		<key>ED</key>
		<integer>6</integer>
		<key>TO</key>
		<integer>6</integer>
		<key>IT</key>
		<integer>6</integer>
		<key>OU</key>
		<integer>6</integer>
		<key>EA</key>
		<integer>5</integer>
		<key>HI</key>
		<integer>5</integer>
		<key>IS</key>
		<integer>5</integer>
		<key>OR</key>
		<integer>5</integer>
		<key>TI</key>
		<integer>5</integer>
		<key>AS</key>
		<integer>5</integer>
		<key>TE</key>
		<integer>4</integer>
		<key>ET</key>
		<integer>4</integer>
		<key>NG</key>
		<integer>4</integer>
		<key>OF</key>
		<integer>4</integer>
		<key>AL</key>
		<integer>3</integer>
		<key>DE</key>
		<integer>3</integer>
		<key>SE</key>
		<integer>3</integer>
		<key>LE</key>
		<integer>3</integer>
		<key>SA</key>
		<integer>2</integer>
		<key>SI</key>
		<integer>2</integer>
		<key>AR</key>
		<integer>2</integer>
		<key>VE</key>
		<integer>2</integer>
		<key>RA</key>
		<integer>1</integer>
		<key>LD</key>
		<integer>1</integer>
		<key>UR</key>
		<integer>1</integer>
	</dict>
	<key>Scrabble</key>
	<dict>
		<key>A</key>
		<integer>9</integer>
		<key>B</key>
		<integer>2</integer>
		<key>C</key>
		<integer>2</integer>
		<key>D</key>
		<integer>4</integer>
		<key>E</key>
		<integer>12</integer>
		<key>F</key>
		<integer>2</integer>
		<key>G</key>
		<integer>3</integer>
		<key>H</key>
		<integer>2</integer>
		<key>I</key>
		<integer>9</integer>
		<key>J</key>
		<integer>1</integer>
		<key>K</key>
		<integer>1</integer>
		<key>L</key>
		<integer>4</integer>
		<key>M</key>
		<integer>2</integer>
		<key>N</key>
		<integer>6</integer>
		<key>O</key>
		<integer>8</integer>
		<key>P</key>
		<integer>2</integer>
		<key>Q</key>
		<integer>1</integer>
		<key>R</key>
		<integer>6</integer>
		<key>S</key>
		<integer>4</integer>
		<key>T</key>
		<integer>6</integer>
		<key>U</key>
		<integer>4</integer>
		<key>V</key>
		<integer>2</integer>
		<key>W</key>
		<integer>2</integer>
		<key>X</key>
		<integer>1</integer>
		<key>Y</key>
		<integer>2</integer>
		<key>Z</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
