<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>health bar time</key>
		<integer>30</integer>
		<key>paper colors</key>
		<dict>
			<key>gray</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>blue</key>
			<integer>3</integer>
			<key>yellow</key>
			<integer>10</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>3</integer>
			<key>blue</key>
			<integer>3</integer>
			<key>yellow</key>
			<integer>10</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>3</integer>
			<key>blue</key>
			<integer>5</integer>
			<key>yellow</key>
			<integer>12</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>5</integer>
			<key>blue</key>
			<integer>5</integer>
			<key>yellow</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>3</integer>
			<key>blue</key>
			<integer>3</integer>
			<key>yellow</key>
			<integer>20</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>3</integer>
			<key>blue</key>
			<integer>7</integer>
			<key>yellow</key>
			<integer>20</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>10</integer>
			<key>blue</key>
			<integer>10</integer>
			<key>yellow</key>
			<integer>25</integer>
		</dict>
	</dict>
	<dict>
		<key>health bar time</key>
		<integer>50</integer>
		<key>paper colors</key>
		<dict>
			<key>pink</key>
			<integer>10</integer>
			<key>blue</key>
			<integer>10</integer>
			<key>yellow</key>
			<integer>30</integer>
		</dict>
	</dict>
</array>
</plist>
