<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>objective</key>
		<dict>
			<key>paper colors</key>
			<dict>
				<key>gray</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>generation probabilities</key>
		<dict>
			<key>yellow</key>
			<integer>1</integer>
		</dict>
		<key>health bar time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>objective</key>
		<dict>
			<key>paper colors</key>
			<dict>
				<key>green</key>
				<integer>3</integer>
				<key>yellow</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>generation probabilities</key>
		<dict>
			<key>yellow</key>
			<integer>3</integer>
			<key>green</key>
			<integer>1</integer>
		</dict>
		<key>health bar time</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>objective</key>
		<dict>
			<key>paper colors</key>
			<dict>
				<key>pink</key>
				<integer>3</integer>
				<key>blue</key>
				<integer>3</integer>
				<key>yellow</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>generation probabilities</key>
		<dict>
			<key>pink</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>yellow</key>
			<integer>4</integer>
		</dict>
		<key>health bar time</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>objective</key>
		<dict>
			<key>paper colors</key>
			<dict>
				<key>pink</key>
				<integer>3</integer>
				<key>blue</key>
				<integer>5</integer>
				<key>yellow</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>generation probabilities</key>
		<dict>
			<key>pink</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>2</integer>
			<key>yellow</key>
			<integer>5</integer>
		</dict>
		<key>health bar time</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>objective</key>
		<dict>
			<key>paper colors</key>
			<dict>
				<key>pink</key>
				<integer>5</integer>
				<key>blue</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>generation probabilities</key>
		<dict>
			<key>pink</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>health bar time</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
